<a href="https://colab.research.google.com/github/Python-Charmer/Final-Project-Team-Python-Charmer/blob/master/FinalProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Final Project - Team Python Charmers

In [0]:
import pandas as pd

In [0]:
url = r'https://raw.githubusercontent.com/Python-Charmer/Final-Project-Team-Python-Charmer/master/Phase1/Data/BreastCancerWisconsin.csv'
df = pd.read_csv(url, header  = None , na_values='?')

In [5]:
names = ['Scn','A2','A3','A4','A5','A6','A7', 'A8','A9','A10','Class']
df.columns = names
df.head()

       Scn  A2  A3  A4  A5  A6  A7  A8  A9  A10  Class
0      Scn  A2  A3  A4  A5  A6  A7  A8  A9  A10  CLASS
1  1000025   5   1   1   1   2   1   3   1    1      2
2  1002945   5   4   4   5   7  10   3   2    1      2
3  1015425   3   1   1   1   2   2   3   1    1      2
4  1016277   6   8   8   1   3   4   3   7    1      2