<a href="https://colab.research.google.com/github/Python-Charmer/Final-Project-Team-Python-Charmer/blob/master/Phase1/Code/FinalProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Final Project - Team Python Charmers

In [0]:
import pandas as pd
import numpy as np

In [0]:
def load_data():
  url = r'https://raw.githubusercontent.com/Python-Charmer/Final-Project-Team-Python-Charmer/master/Phase1/Data/BreastCancerWisconsin.csv'
  df = pd.read_csv(url)
  names = ['Scn','A2','A3','A4','A5','A6','A7', 'A8','A9','A10','Class']
  df.columns = names
  df['A7'] = df['A7'].replace('?',np.NaN)
  df['A7'] = pd.to_numeric(df['A7'])
  return df

In [0]:
#There are 16 Null Values in Column A7
def clean_missing(df):
  print("Below are how many missing values for each column")
  print(df.isnull().sum())
  df = df.fillna(df.mean(skipna = True))
  return df

In [0]:
def  sum_metrics(df):
  print("\n Below are the summary metrics of the data \n" + str(df.describe()))
  print ("\n\nThere are " + str(df.shape[0]) + " rows and " + str(df.shape[1]) + " Columns in this data frame")
  print("\nThere are " + str(len(df['Scn'].unique())) + " unique values in the dataset.")

In [0]:
df = load_data()
df = clean_missing(df)
sum_metrics(df)

Below are how many missing values for each columns
Scn       0
A2        0
A3        0
A4        0
A5        0
A6        0
A7       16
A8        0
A9        0
A10       0
Class     0
dtype: int64

 Below are the summary metrics of the data
                Scn          A2          A3          A4          A5  \
count  6.990000e+02  699.000000  699.000000  699.000000  699.000000
mean   1.071704e+06    4.417740    3.134478    3.207439    2.806867
std    6.170957e+05    2.815741    3.051459    2.971913    2.855379
min    6.163400e+04    1.000000    1.000000    1.000000    1.000000
25%    8.706885e+05    2.000000    1.000000    1.000000    1.000000
50%    1.171710e+06    4.000000    1.000000    1.000000    1.000000
75%    1.238298e+06    6.000000    5.000000    5.000000    4.000000
max    1.345435e+07   10.000000   10.000000   10.000000   10.000000

               A6          A7          A8          A9         A10       Class
count  699.000000  699.000000  699.000000  699.000000  699.000000  699.000000
mean     3.216023    3.544656    3.437768    2.866953    1.589413    2.689557
std      2.214300    3.601852    2.438364    3.053634    1.715078    0.951273
min      1.000000    1.000000    1.000000    1.000000    1.000000    2.000000
25%      2.000000    1.000000    2.000000    1.000000    1.000000    2.000000
50%      2.000000    1.000000    3.000000    1.000000    1.000000    2.000000
75%      4.000000    5.000000    5.000000    4.000000    1.000000    4.000000
max     10.000000   10.000000   10.000000   10.000000   10.000000    4.000000


There are 699 rows and 11 Columns in this data frame

There are 645 unique values in the dataset.